<div class="head clearfix cent">
	<a class="logo" href="/">
		<span class="logo-img"></span>
		<div>
			<p class="title">电磁隐身与超材料应用课题组</p>
			<p class="tip">Electromagnetic Stealth & Metamaterial Application Research Group</p>
		</div>
	</a>
	<div class="nav">
		<ul>
			<li>
				<a href="/course">课题组概况</a>
			</li>
			<li>
				<a href="/new">新闻动态</a>
			</li>
			<li>
				<a href="/achievements">学术成果</a>
			</li>
			<li>
				<a href="/project">基金项目</a>
			</li>
			<li>
				<a href="/sports">文娱体育</a>
			</li>
			<li>
				<a href="/resources">资源共享</a>
			</li>
			<li>
				<a href="/login">管理登入</a>
			</li>
			<li>
				<a target="_blank" href="//plrg.nuaa.edu.cn/default.asp">旧版主页</a>
			</li>
		</ul>
	</div>
</div>